/* 
* Gobal
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body,
html {
	font-family: 'opensans';
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 2em;
	word-break: break-word;
	padding: 1em 0em;
}

p {
	padding-bottom: 1em;
	font-weight: 100;
}

img,
iframe {
	max-width: 100%;
}

a {
	text-decoration: none;
}

body {
	-webkit-font-smoothing: antialiased;
}